/* Colors */

/* Fonts */

@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PTSans-Regular/PTSans-Regular.eot");
  src: url("../fonts/PTSans-Regular/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Regular/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular/PTSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/PTSans-Bold/PTSans-Bold.eot");
  src: url("../fonts/PTSans-Bold/PTSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Bold/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold/PTSans-Bold.ttf") format("truetype");
}

button:focus {
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media (min-width: 992px) {
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}

a:focus {
  outline: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  padding: 15px 24px;
  font-family: PTSans, sans-serif;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1;
  color: #898989;
  border: none;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section-title {
  margin-bottom: 17px;
  color: #010101;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

.section-title_accent {
  color: #fcdb00;
}

@media (max-width: 992px) {
  .section-title {
    font-size: 29px;
  }
}

.section-subtitle {
  font-size: 20px;
  color: #313841;
  max-width: 740px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .section-subtitle {
    font-size: 18px;
  }
}

.btn {
  border: 2px solid #fcdb00;
  padding: 17px 35px 16px;
  background-color: #fcdb00;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.btn:hover {
  background-color: #000;
  color: #ffffff;
}

.btn__icon {
  font-size: 22px;
}

.btn_transp {
  width: 186px;
  border: 2px solid #000;
  color: #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}

.svg-iPad__case {
  fill: #fff;
}

.svg-iPad__screen {
  fill: #000;
  stroke: #000;
}

.svg-iPad__button {
  fill: #fafafa;
  stroke: #000;
}

.svg-iPad__shadow {
  fill: #fff;
}

::-webkit-input-placeholder {
  color: #898989;
}

::-ms-input-placeholder {
  color: #898989;
}

::placeholder {
  color: #898989;
}

::selection {
  background-color: #010101;
  color: #ffffff;
}

input:focus {
  border-color: #fcdb00;
  background-image: none;
}

* {
  margin: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #898989;
  font-family: PTSans, sans-serif;
  background-color: #000;
  overflow-x: hidden;
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
    line-height: 1.2;
  }
}

input,
textarea {
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: calc(100% - 30px);
}

@media (min-width: 480px) {
  .container {
    max-width: 450px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 930px;
  }
}

.header {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
}

@media (max-width: 576px) {
  .header {
    top: 50px;
  }
}

.header__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .header__line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.header__logo-wrap {
  width: 149px;
}

@media (max-width: 992px) {
  .header__logo-wrap {
    width: 135px;
  }
}

@media (max-width: 992px) {
  .header__logo-wrap {
    margin-bottom: 20px;
    width: 149px;
  }
}

.header__logo-link {
  display: block;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  color: #010101;
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 992px) {
  .header__nav-item {
    font-size: 20px;
  }
}

.header__nav-item:not(:last-of-type) {
  margin-right: 70px;
}

@media (max-width: 992px) {
  .header__nav-item:not(:last-of-type) {
    margin-right: 50px;
  }
}

.main {
  position: relative;
  padding: 61px 0 49px 0;
  background-color: #fcdb00;
}

.main__slider {
  position: relative;
  margin-top: 104px;
}

@media (max-width: 576px) {
  .main__slider {
    margin-top: 140px;
  }
}

.main__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 58px;
}

@media (max-width: 576px) {
  .main__slider-item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.main__slider-text {
  padding-top: 68px;
  max-width: 392px;
}

@media (max-width: 992px) {
  .main__slider-text {
    width: auto;
    padding: 50px 50px 0 0;
  }
}

@media (max-width: 576px) {
  .main__slider-text {
    padding: 0;
    text-align: center;
  }
}

.main__slider-title {
  margin-bottom: 21px;
}

@media (max-width: 576px) {
  .main__slider-title {
    margin-bottom: 40px;
  }
}

.main__slider-subtitle {
  margin-bottom: 18px;
  color: #313841;
  font-size: 20px;
}

.main__slider-descr {
  margin-bottom: 38px;
  color: #555555;
  line-height: 20px;
}

@media (max-width: 992px) {
  .main__slider-descr {
    margin-bottom: 30px;
  }
}

.main__slider-icon {
  font-size: 42px;
  color: #010101;
}

.main__slider-icon:not(:last-of-type) {
  margin-right: 37px;
}

.main__slider-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #010101;
}

@media (max-width: 576px) {
  .main__slider-icons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 576px) {
  .main__slider-btn {
    margin: 0 auto;
    display: block;
  }
}

.main__slider-dot {
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.main__slider-dot.active {
  background-color: #ffffff;
}

.main__slider-dot:not(:last-child) {
  margin-right: 7px;
}

.main__slider-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__slider-figure {
  position: relative;
  margin-right: 40px;
  height: 470px;
  width: 316px;
}

@media (max-width: 992px) {
  .main__slider-figure {
    margin-right: 20px;
    height: 376px;
    width: 253px;
  }
}

@media (max-width: 576px) {
  .main__slider-figure {
    display: none;
  }
}

.main__slider-iPad {
  width: 100%;
  height: 100%;
}

.main__slider-iPad_bl .svg-iPad__case {
  fill: #000;
}

.main__slider-iPad_bl .svg-iPad__screen {
  fill: #fff;
  stroke: #000;
}

.main__slider-iPad_bl .svg-iPad__button {
  fill: #000;
  stroke: #fafafa;
}

.main__slider-iPad_bl .svg-iPad__shadow {
  fill: #000;
}

.main__slider-logo {
  position: absolute;
  top: 197px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 149px;
}

@media (max-width: 992px) {
  .main__slider-logo {
    top: 50%;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    width: 135px;
  }
}

.features {
  padding: 113px 0 62px;
  background-color: #ffffff;
}

@media (max-width: 992px) {
  .features {
    padding: 80px 0 50px;
  }
}

.features__subtitle {
  margin-bottom: 83px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.features__item {
  margin: 0 0 82px 0;
  width: calc((100% - 35px * 2) / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 992px) {
  .features__item {
    margin: 0 0 62px 0;
    width: calc((100% - 30px * 2) / 3);
  }
}

@media (max-width: 768px) {
  .features__item {
    margin: 0 0 62px 0;
    width: calc(50% - 30px);
  }
}

@media (max-width: 576px) {
  .features__item {
    margin: 0 0 30px 0;
    width: 100%;
  }
}

.features__item-icon {
  width: 50px;
  margin-right: 23px;
  font-size: 50px;
  line-height: 1;
  color: #010101;
  text-align: center;
}

@media (max-width: 992px) {
  .features__item-icon {
    width: 42px;
    margin-right: 20px;
    font-size: 42px;
  }
}

.features__item-text {
  width: calc(100% - 73px);
}

.features__item-head {
  display: block;
  margin-bottom: 12px;
  font-size: 22px;
  color: #010101;
}

@media (max-width: 992px) {
  .features__item-head {
    font-size: 20px;
    line-height: 1.1;
    min-height: 44px;
  }
}

@media (max-width: 992px) and (max-width: 576px) {
  .features__item-head {
    min-height: initial;
  }
}

.features__item-body {
  line-height: 20px;
}

.subscribe {
  padding: 92px 0 70px;
}

@media (max-width: 992px) {
  .subscribe {
    padding: 80px 0 50px;
  }
}

.subscribe__subtitle {
  margin-bottom: 40px;
  color: #898989;
}

.subscribe__form {
  margin-bottom: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 576px) {
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.subscribe__field {
  margin-right: 21px;
  width: 580px;
}

@media (max-width: 992px) {
  .subscribe__field {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .subscribe__field {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .subscribe__field {
    margin-right: 0;
    margin-bottom: 15px;
    width: 90%;
  }
}

.subscribe__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
}

@media (max-width: 992px) {
  .subscribe__social {
    -webkit-transform: none;
    transform: none;
  }
}

.subscribe__social-icon {
  color: #fcdb00;
  font-size: 42px;
}

.subscribe__social-icon:hover {
  color: #ffffff;
}

.subscribe__social-icon:hover i {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.subscribe__social-icon:not(:last-child) {
  margin-right: 33px;
}

.footer {
  padding: 55px 0 140px;
}

@media (max-width: 768px) {
  .footer {
    padding: 55px 0 80px;
  }
}

.footer__text {
  color: #ffffff;
  line-height: 20px;
}

.footer__widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .footer__widgets {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .footer__widgets {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 30px;
}

@media (max-width: 576px) {
  .footer__contacts {
    margin-right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.footer__contacts-line {
  display: block;
}

.footer__contacts-item:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 576px) {
  .footer__contacts-item:not(:last-child) {
    margin-right: 15px;
  }
}

@media (min-width: 992px) {
  .footer__contacts-phone:hover,
  .footer__contacts-email:hover {
    color: #fcdb00;
  }
}

@media (min-width: 992px) {
  .footer__link:hover {
    color: #fcdb00;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .footer__links {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.footer__link-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 130px;
}

@media (max-width: 992px) {
  .footer__link-col {
    width: 100px;
  }
}

.footer__link-col:not(:last-of-type) {
  margin-right: 33px;
}

@media (max-width: 992px) {
  .footer__link-col:not(:last-of-type) {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .footer__link-col {
    width: auto;
  }

  .footer__link-col:not(:last-of-type) {
    margin-right: 20px;
  }
}