:root {
  --basesize: 200px;
  --animationspeed: .3s;
}

.viewport {
  width: var(--basesize);
  height: var(--basesize);
  overflow: hidden;
  position: relative;
}

.bg {
  width: calc(var(--basesize) * 3);
  height: var(--basesize);
  background-image: linear-gradient(90deg, darkorchid 33.33333333%, dodgerblue 33.33333333%, dodgerblue 66.66666666%, darkturquoise 66.66666666%);
  transition: var(--animationspeed);
}

#first:checked~.bg {
  transform: translateX(0);
}

#second:checked~.bg {
  transform: translateX(calc(-1 * var(--basesize)));
}

#third:checked~.bg {
  transform: translateX(calc(-2 * var(--basesize)));
}

.controls {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--basesize);
  height: var(--basesize);
  display: flex;
  z-index: 100;
}

.controls-wrapper {
  margin: auto;
}

.controls-wrapper label {
  display: inline-block;
  border: 2px solid white;
  box-sizing: border-box;
  width: calc(var(--basesize) / 10);
  height: calc(var(--basesize) / 10);
  border-radius: 100%;
}

.controls-wrapper {
  background-image: radial-gradient(circle, white 22%, rgba(0, 0, 0, 0) 22%);
  background-repeat: no-repeat;
  background-position: calc((-1 * var(--basesize) / 10)) -2px;
  transition: var(--animationspeed);
}

#first:checked~.controls .controls-wrapper {
  background-position: calc((-1 * var(--basesize) / 10)) -2px;
}

#second:checked~.controls .controls-wrapper {
  background-position: 0 -2px;
}

#third:checked~.controls .controls-wrapper {
  background-position: calc(var(--basesize) / 10) -2px;
}

.viewport input[type=radio] {
  display: none;
}